/* en css puedo declarar variables por si en el futuro quiero cambiar todo el color de la app cambiarlo solo desde aca */

:root {
    --principal: #27ae60;
    --blanco: #ffffff;
}

/* elimino el margin y padding de todas las etiquetas de html */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* le agrego la fuente que seleccione el fonts.google.com */

html {
    font-family: 'Roboto', sans-serif;
}

/* Le decimos que la pagina no tendrá scroll hacia los lados */
/* buscar propiedad overflow por internet, es buenarda */

img {
    width: 100%;
}

/* esto es para eliminarle los estilos por defecto a los botones */

button {
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
}

/* esto es para eliminarle los estilos por defecto a las ul */
ul {
    list-style: none;
}

/* esto es para eliminarle los estilos por defecto a los links a*/
a {
    text-decoration: none;
}


/* creo un container para que la informacion no se pegue a los bordes */
/* por cada tamaño redimensiono el container para que se adapte mejor al tipo de pantalla */
/* @media(min-width: ) trabaja bajo la metodologia mobile-first que es la buena practica que todos siguen */
/* pueden buscar mas de esto de media por youtube */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

@media(min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media(min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media(min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* -------------------------------------------------------------------------- */


/* le digo que cuando sea desde movil su alto sea del 90% de la pantalla, pero cuando llegue a
992px para arriba le cambio el alto al 100% */
/* tambien le creo una estructura con display grid que sirve para maquetar  */
.header {
    background-color: var(--principal);
    height: 90vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

@media(min-width: 992px) {
    .header {
        height: 100vh;
    }
}

.navegacion {
    display: block;
}

@media(min-width: 992px) {
    .navegacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.navegacion__marca {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacion__marca__logo {
    max-width: 200px;
}

@media(min-width: 768px) {
    .navegacion__marca__logo {
        max-width: 300px;
    }
}

.navegacion__marca__hamburguesa {
    padding: .5rem;
    font-size: 1rem;
    color: var(--blanco);
}

@media(min-width: 992px) {
    .navegacion__marca__hamburguesa {
        display: none;
    }
}

/* cuando se esté viendo desde un movil (responsive) oculto el contenedor de la lista
pero con el archivo javascript estoy escuchando cuando el usuario haga click en el boton
y le cambia el display a block para que se muestre */

.navegacion__lista__responsive {
    display: none;
    position: relative;
}

.navegacion__lista__container {
    display: none;
}

/* cuando se esté viendo desde el pc, ocultamos la lista de movil y mostramos la de desktop */
@media(min-width: 992px) {
    .navegacion__lista__responsive {
        display: none !important;
    }

    .navegacion__lista__container {
        display: block;
    }
}

.navegacion__responsive {
    background-color: var(--blanco);
    position: absolute;
    width: 100%;
}

.navegacion__container {
    display: flex;
}

.navegacion__container .navegacion__lista__item a {
    color: #FFFF;
    padding-left: .75rem;
    font-size: 1.25rem;
}

.navegacion__responsive .navegacion__lista__item a {
    color: var(--principal);
    display: block;
    padding: .5rem 1rem;
}
















.header__imagen {
    display: grid;
    place-items: center;
    max-width: 950px;
    margin: 0 auto;
}

.header__imagen__titulo {
    color: #ffff;
}

@media(min-width: 768px) {
    .header__imagen__titulo {
        display: none;
    }
}




















@media(min-width: 768px) {
    .header__footer {
        display: grid;
        align-items: center;
        grid-template-columns: 150px 1fr 150px;
        padding: 2rem 0;
    }
}

.header__footer__numero {
    display: none;
    color: #fff;
}

@media(min-width: 768px) {
    .header__footer__numero {
        display: block;
        font-size: 1.25rem;
    }
}

.header__footer__titulo {
    margin-bottom: 5rem;
    display: none;
    color: #fff;
}

@media(min-width: 768px) {
    .header__footer__titulo {
        text-align: center;
        margin-bottom: 0;
        display: block;
    }
}

@media(min-width: 768px) {
    .header__footer__links {
        display: flex;
        margin-left: auto;
    }
}

.header__footer__links a {
    color: var(--principal);
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: relative;
    margin-left: .25rem;
}

.header__footer__links i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.header__footer__responsive {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(min-width: 768px) {
    .header__footer__responsive {
        display: none;
    }
}

.header__footer__responsive .header__footer__numero {
    display: block;
    color: #ffff;
}

.header__footer__responsive .header__footer__links {
    display: flex;
}

.header__footer__responsive .header__footer__links a {
    display: flex;
}































.section {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
}

@media(min-width: 768px) {
    .section {
        display: grid;
        padding: 3rem 5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        grid-gap: 1rem;
    }
}

.section__article.rescate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.section__article.crowdfunding {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

@media(min-width: 768px) {
    .section__article.crowdfunding {
        margin-top: 0;
    }
}

.section__article__titulo {
    text-transform: uppercase;
}

.section__article__subtitulo {
    text-transform: uppercase;
    color: #7f8c8d;
    font-size: .75rem;
    padding: .25rem 0;
}

.section__article__separacion {
    width: 3rem;
    height: .1rem;
    background-color: black;
    margin-top: .75rem;
    margin-bottom: 1rem;
}

.section__article__img {}

.section__article__texto {
    padding-bottom: 1rem;
}

.section__article.crowdfunding .section__article__img {
    width: 20rem;
    max-width: 300px;
}

.section__article.crowdfunding .section__article_boton {
    border: none;
    background-color: transparent;
    border: 2px solid #000;
    padding: .5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .75rem;
    color: #000;
}

.footer {
    margin-top: 1rem;
    background-color: #ecf0f1;
    padding: 1rem 0;
    text-align: center;
}